<f:comment>
    <f:if condition="{settings.menu}">
        <ul class="tx-bwrk-onepage-menu{f:if(condition: settings.menuScroll, then: ' scrollable')}"{f:if(condition: settings.menuScrollSpeed, then: ' data-scroll-speed="{settings.menuScrollSpeed}"')}>
        <f:for each="{object}" as="page">
            <li>
                <f:link.page section="section-id-{page.uid}">{page.title}</f:link.page>
            </li>
        </f:for>
        </ul>
    </f:if>
</f:comment>


<ul class="tx-bwrk-onepage-menu">
<f:for each="{object}" as="page">
    <li>
        <f:link.page section="section-id-{page.uid}">{page.title}</f:link.page>
    </li>
</f:for>
</ul>


