{namespace bwrk=BERGWERK\BwrkOnepage\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
    <f:flashMessages renderMode="div" />

    <f:for each="{fullArray}" as="page">
        <section{f:if(condition: page.sectionClass, then: ' class="section-state{page.sectionClass}"')}>

            <f:comment>
                <!-- Möglichkeit den Seitentitel imemr mit auszugeben -->
                    <h1>{page.title}</h1>
            </f:comment>


            <div class="section-content">
                <f:for each="{page.contentElements}" as="contentElement">
                    <bwrk:content uid="{contentElement.uid}"/>
                </f:for>
            </div>
        </section>
    </f:for>
</f:section>